body {
    padding-top: 56px;
}

.main-container{
    margin: 20px;
}

#submitbtn{
    margin-top: 20px;
}

#commentSec{
    margin-top: 20px;

}

#commentSec * {
    margin-top: 20px;
}

.bidBtn{
    margin-left:40px;
    margin-top: 25px;
    
}

.watchlist{
    position: absolute;
    margin: -5px;  
}

.itemList{
    margin-left: 5px;
    margin-top: 10px;
}

.processingBtn{
    margin-top: 20px;
    margin-bottom: 40px;
}

.listing{
    padding: 5px;
    margin-bottom: 5px;
    /* border-style: groove; */
}
.editDelBtn{
   margin-top: 20px;
}

.editDelBtn > button{
    padding-left: 10px ;
    size: 50px;
}

.lineBreak{
    border: 1px solid rgb(141, 139, 139);
}
