body {
    padding-top: 56px;
}

.main-container{
    margin: 20px;
}

#submitbtn{
    margin-top: 20px;
}

#commentSec{
    margin-top: 20px;

}

#commentSec * {
    margin-top: 10px;
}

.bidBtn{
    margin-left: 20px;
    margin-top: 25px;
    
}

