{% extends "auctions/layout.html" %}

{% block body %}

<h1>WatchList</h1>
<h4>{{ message }}</h4>

    {% for listing in user_listings %}
    <ul class="nav">
        <li class="nav-item">
          <a class="nav-link active watchlist-links" aria-current="page" href="{% url 'auctions:listing_details' listing %}">{{ listing }}</a>
        </li>
        <li class="nav-item itemList">
            <form method="POST" action="{% url 'auctions:delete_listing' listing.id %}" class="watchlist">
                {% csrf_token %}
                <button class="btn btn-link">Delete</button>
            </form>    
          
        </li>
    </ul>
    {% empty %}
    <p>There are no listing yet.</p>
    {% endfor %}

{% endblock %}