{% extends "auctions/layout.html" %}

{% load thumbnail %}

{% block  body %}
    <h2>Active Listings</h2>
    {% for listing in listings %}
    <div class="listing">
        <h5> <a href="{% url 'listing_details' %}"> {{ listing.item_name }} </a></h5>
        <p><strong>Description: </strong>{{ listing.description }}</p>
        <p><strong>Posted in: </strong> {{ listing.posting_date }}</p>
        <p><strong>Price: </strong> {{ listing.base_price }}</p>
        {% if listing.image %}
            {% thumbnail listing.image "200x200" crop="center" as im %}
                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="image"/>
            {% endthumbnail %}
        {% comment %}
            This else catch if the user did not upload image.
        {% endcomment%}    
        {% else %}
            <img  src="#" alt="No image available"/>
        {% endif %}
    </div>
    {% endfor %}
{% endblock %}