{% extends "auctions/layout.html" %}

{% load thumbnail %}

{% block title %}
{% if category %} {{ category.name }} {% else %} Listings {% endif %}
{% endblock %}

{% block body %}

<!-- <div> {% if not category %} class="selected" {% endif %}> -->

<!-- </div> -->
<h3>Categories: </h3>
<div class="container">
    <div class="panel panel-default">
        <div class="panel_heading">

            <div class="row">
                <div class="category">
                    <a href="{% url 'auctions:index' %}">All</a>
                </div>
                {% for categ in categories %}
                <div class="category">
                    <a href="{{categ.get_absolute_url }}">{{ categ.name }} </a>
                </div>
                {% endfor %}
            </div>

        </div><!-- end pandel heading  -->

        <hr class="lineBreak">
        <div class="panel-body">

            <h2>{% if category %}{{ category.name }}{% else %} Active Listings {% endif %}</h2>
            {% for listing in listings %}
            <div>
                <h5> <a href="{{ listing.get_absolute_url }}"> {{ listing }} </a></h5>
                <p><strong>Description: </strong>{{ listing.description }}</p>
                <p><strong>Posted in: </strong> {{ listing.posting_date }}</p>
                <p><strong>Price: </strong> {{ listing.base_price }}</p>

                {% if listing.image %}
                {% thumbnail listing.image "200x200" crop="center" as im %}
                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="image" />
                {% endthumbnail %}
                {% comment %}
                This else catch if the user did not upload image.
                {% endcomment%}
                {% else %}
                <img src="#" alt="No image available" />
                {% endif %}
            </div>
            {% endfor %}
        </div> <!-- end panel body -->
    </div> <!-- end panel default -->
</div><!-- end container -->

{% include 'auctions/pagination.html' with page=listings_in_page %}
{% endblock %}