{% extends "auctions/layout.html" %}
{% load crispy_forms_tags %}
{% load thumbnail %}


{% block body %}

<div class="container">

    <div class="panel panel-default">
        <div class="panel_heading">
            <div class="row">
                <!-- Add items to your watchlist -->
                <form action="{% url 'auctions:add_to_watchlist' listing.id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-link">Add to watchlist</button>
                </form>
                <!-- Close or edit the auction if you are the one who created it -->
                <form method="POST" action="{% url 'auctions:edit_listing' listing.id%}" class="form-inline">
                    {% csrf_token %}
                    <button class="btn btn-link" id="editAuction" type="submit" {% if edit_permission %}disabled {% endif %}>Edit Auction</button>
                    <button class="btn btn-link" id="closeAuction" type="submit" {% if edit_permission %}disabled {% endif %}>Close Auction</button>
                </form>
                <div class="shareLink">
                    <a href="{% url 'auctions:share_listing' listing.id %}">
                        Share this listing
                    </a>
                </div>
            </div>

        </div>
        <hr class="lineBreak">
        <!-- Lising Details -->
        <div class="panel-body">
            <h2>Listing Details</h2>
            <p><strong>Auction Name:</strong> {{ listing.item_name }}</p>
            <p><strong>Category:</strong> {{ listing.category }}</p>
            <p><strong>Posted in:</strong> {{ listing.posting_date }}</p>
            <p><strong>Base Price:</strong> {{ listing.base_price }}</p>
            <p><strong>Close Date:</strong> {{ listing.close_date }}</p>
            <p><strong>Posted by:</strong> {{ listing.user }}</p>
            <p><strong>Description:</strong> {{ listing.description }}</p>

            {% if listing.image %}
            {% thumbnail listing.image "200x200" crop="center" as im %}
            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="image" />
            {% endthumbnail %}
            {% comment %}
            This else catch if the user did not upload image.
            {% endcomment%}
            {% else %}
            <img src="#" alt="No image available" />
            {% endif %}


            <!-- Show the number of bids and if the auciton still active or closed -->
            <hr class="lineBreak">
            <div class="bids">
                <h2>{{ bids.count }} bids</h2>
                <p><strong>Last bid: </strong>{{ last_bid }}</p>
                <div>
                    {% if auction_is_closed %}
                    <h4>This auction is closed on {{ listing.close_date }}</h4>
                    {% endif %}
                </div>

                <!-- This form to check if the bid reach close_date, then disable bid button -->
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-group row">
                        <div class="col-lg-1">
                            {{ bid_form |crispy }}
                        </div>
                        <div class="col-lg-1"></div>
                        <!-- <button type="submit" name="{{bid_form.prefix}}" class= "btn btn-primary bidBtn" {% if auction_is_closed %}disabled {% endif %}>Place bid</button>  -->
                        <button type="submit" name="{{bid_form.prefix}}" class="btn btn-primary bidBtn">Place
                            bid</button>

                    </div>
            </div>
            </form>
        </div>
        <hr class="lineBreak">
        <!--  Comments section -->
        <div class="comments">
            <!-- assign the number of comments to total_comments variable -->
            {% with comments.count as total_comments %}
                <h2>{{ total_comments }} comment{{ total_comments|pluralize }}</h2>
            {% endwith %}
            {% for comment in comments %}
            <div>
                <table>
                    <tr>
                        <td><strong>{{ comment.user_name }}: </strong></td>
                        <td>{{ comment.content }}. &nbsp; </td>
                        <td>{{ comment.created_on}}</td>
                    </tr>
                </table>
            </div>
            {% empty %}
            <p>There are no comments yet.</p>
            {% endfor %}
            
            <div id="commentSec">
                <h3>Leave a comment </h3>
                <form method="POST">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" name="{{comment_form.prefix}}" class="btn btn-primary">Add comment</button>
                </form>
            </div>
        </div>
    </div> <!-- panel body -->


</div> <!-- panel default -->
</div> <!-- main container-->

{% endblock %}