{% extends "auctions/layout.html" %}
{% load crispy_forms_tags %}

{% block title %} Share a listing {% endblock %}

{% block body%}
    {% if sent %}
        <h1>E-mail successfuly sent </h1>
        <p>
            "{{ listing.title }}" was successfuly sent to  {{ form.cleaned_data.to }}
        </p>
    {% else %}
        <h1>Share "{{ listing.item_name }}" by e-mail</h1>
        <form method="POST">
            {{ form |crispy }}
            {% csrf_token %}
            <input type="submit" value="Send e-mail">
        </form>
    {% endif%}

{% endblock %}